# Actividad 7
1. Enteros
2. Flotantes o Reales
3. Cadena
4. Boleanos
5. None

In [1]:
# Entero
entero = 44
print(entero, type(entero))

# Flotante
flotante = 3.14159
print(flotante, type(flotante))

# Cadena
cadena = "Hola mundo"
print(cadena, type(cadena))

# Booleano
booleano = True
print(booleano, type(booleano))

# None
nada = None
print(nada, type(nada))

44 <class 'int'>
3.14159 <class 'float'>
Hola mundo <class 'str'>
True <class 'bool'>
None <class 'NoneType'>

## Actividad 1

In [5]:
a = 50
b = 24.5
print(type(a))
a = a + b

print(a)
print(type(a))

<class 'int'>
74.5
<class 'float'>

## Actividad 2

In [9]:
a = 50
b = input('Dame un número')
print(type(b))
b = float(b)
c = a + b

print(c)
print(type(c))

Dame un número 24.5

<class 'str'>
74.5
<class 'float'>

## Actividad 3

In [16]:
# Paso 1: Asignar el prcio de los 5 productos
precios = {
    "manzana": 48.00,
    "pera": 35.00,
    "plátano": 44.00,
    "naranja": 27.00,
    "uva": 88.00,
    "fresa": 50
}

# Paso 2: Crear el programa de punto de venta
def calcular_total(compras):
    total = 0
    for producto, cantidad in compras.items():
        if producto in precios:
            total += precios[producto] * cantidad
    return total

# Paso 3: Simular la compra de 3 clientes
cliente1 = {
    "manzana": 3,
    "pera": 1,
    "uva": 2
}
cliente2 = {
    "manzana": 1,
    "fresa": 1,
}
cliente3 = {
    "pera": 2,
    "naranja": 2,
    "uva": 2
}

# Paso 4: Calcular y mostrar el total para cada cliente
total_cliente1 = calcular_total(cliente1)
total_cliente2 = calcular_total(cliente2)
total_cliente3 = calcular_total(cliente3)

print(f"Total para el cliente 1: {total_cliente1}")
print(f"Total para el cliente 2: {total_cliente2}")
print(f"Total para el cliente 3: {total_cliente3}")

Total para el cliente 1: 355.0
Total para el cliente 2: 98.0
Total para el cliente 3: 300.0

## Manipulación de Strings

In [18]:
# concatenar strings
str1 = "Hola"
str2 = "Mundo"
concatenacion = str1 + " " + str2
print(concatenacion)

Hola Mundo

In [22]:
cadena = "Hola mundo"
substring = cadena[0:4]
print(substring)

Hola

In [24]:
# Métodos de strings
cadena = "Hola mundo"
mayusculas = cadena.upper()
minusculas = cadena.lower()
reemplazo = cadena.replace("mundo", "bootcamp de python")

print(mayusculas)
print(minusculas)
print(reemplazo)

HOLA MUNDO
hola mundo
Hola bootcamp de python

In [25]:
nombre = "RICARDO MONROY RODRÍGUEZ"
nombre_bien = nombre.capitalize()

print(nombre_bien)

Ricardo monroy rodríguez

### Ejemplos entre strings y listas

In [29]:
cadena = "Hola"
# cadena[0] = "h"
nueva_cadena = "h" + cadena[1:]
print(nueva_cadena)

hola

In [32]:
lista = [1, 2, 3, 4]
lista[0] = 10
print(lista)

lista.append(5)
print(lista)

lista.remove(3)
print(lista)

[10, 2, 3, 4]
[10, 2, 3, 4, 5]
[10, 2, 4, 5]

In [33]:
cadena = "Hola Mundo"
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10]

print(cadena[0:4])
print(lista[0:4])

Hola
[1, 2, 3, 4]

## Actividad 4

In [34]:
frase = "cadenas en Python"
print(len(frase))

17

### Método split()

In [35]:
frase.split()

['cadenas', 'en', 'Python']

In [36]:
texto = "Hola mundo, bienvenidos al bootcamp de Python"
resultado = texto.split()
print(resultado)

['Hola', 'mundo,', 'bienvenidos', 'al', 'bootcamp', 'de', 'Python']

In [38]:
texto = "Banana,manzana,uva,fresa,naranja"
resultado = texto.split(',')
print(resultado)

['Banana', 'manzana', 'uva', 'fresa', 'naranja']

In [43]:
texto = "Banana, manzana, uva, fresa, naranja"
resultado = texto.split(', ', 3)
print(resultado)

['Banana', 'manzana', 'uva', 'fresa, naranja']

## Actividad 5

In [46]:
string = "Hola Mundo"
lista = list(string)

lista[0] = "h"
nuevo_string = ''.join(lista)
print(nuevo_string)

hola Mundo

In [47]:
string = "HolaMundo"
lista = list(string)

lista.insert(4, " ")

nuevo_string = ''.join(lista)
print(nuevo_string)

Hola Mundo

In [49]:
string = "Hola Mundo"
lista = list(string)

del lista[4]

nuevo_string = ''.join(lista)
print(nuevo_string)

HolaMundo

In [50]:
string = "Hola Mundo"
lista = list(string)

lista.sort()

nuevo_string = ''.join(lista)
print(nuevo_string)

 HMadlnoou

## Método apply()

In [52]:
import pandas as pd

data = {'Celsius': [0, 20, 30, 40]}
df = pd.DataFrame(data)

def celsuis_a_fahrenheit(c):
    return (c * 1.8) + 32

df['Fahrenheit'] = df['Celsius'].apply(celsuis_a_fahrenheit)

print(df)

   Celsius  Fahrenheit
0        0        32.0
1       20        68.0
2       30        86.0
3       40       104.0

In [53]:
import pandas as pd

data = {'Peso_kg': [70, 80, 90, 95],
       'Altura_m': [1.75, 1.80, 1.65, 1.93]}
df = pd.DataFrame(data)

def calcular_imc(row):
    peso = row['Peso_kg']
    altura = row['Altura_m']
    imc = peso / (altura ** 2)
    return imc

df['IMC'] = df.apply(calcular_imc, axis=1)
print(df)

   Peso_kg  Altura_m        IMC
0       70      1.75  22.857143
1       80      1.80  24.691358
2       90      1.65  33.057851
3       95      1.93  25.504040

## Ordenamiento y sorteo

In [54]:
numeros = [3, 1, 4, 1, 5, 9, 2, 6, 5, 2, 3, 5]

numeros_ordenados = sorted(numeros)
print("Ascendente: ", numeros_ordenados)

numeros_ordenados_desc = sorted(numeros, reverse=True)
print("Descendiente: ", numeros_ordenados_desc)

Ascendente:  [1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 6, 9]
Descendiente:  [9, 6, 5, 5, 5, 4, 3, 3, 2, 2, 1, 1]

In [55]:
palabras = ["banana","uva","manzana","fresa","naranja"]

palabras_ordenadas = sorted(palabras)
print("Alfabético", palabras_ordenadas)

palabras_ordenadas_desc = sorted(palabras, reverse=True)

print("Alfabético inverso", palabras_ordenadas_desc)

Alfabético ['banana', 'fresa', 'manzana', 'naranja', 'uva']
Alfabético inverso ['uva', 'naranja', 'manzana', 'fresa', 'banana']

In [59]:
# Sorteo: ordenar de forma aleatoria
import random
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(numeros)
print("Lista mezclada: ", numeros)

Lista mezclada:  [9, 8, 2, 5, 6, 10, 4, 3, 7, 1]

## Actividad 7

In [71]:
# a) Capturar el inventario
inventario = [
    {"marca": "Toyota", "modelo": "Corolla", "año": 2020, "precio": 200000},
    {"marca": "Honda", "modelo": "Civic", "año": 2019, "precio": 220000},
    {"marca": "Ford", "modelo": "Mustang", "año": 2021, "precio": 340000},
    {"marca": "Chevrolet", "modelo": "Malibu", "año": 2018, "precio": 180000},
    {"marca": "VW", "modelo": "Jetta", "año": 2022, "precio": 240000},
]

# b) Reporte ascendente
reporte_ascendente_modelo = sorted(inventario, key=lambda x: x['modelo'])
print("Reporte ascendente por modelo:")
for auto in reporte_ascendente_modelo:
    print(f"Marca: {auto['marca']}, Modelo: {auto['modelo']}, Año: {auto['año']}, Precio: {auto['precio']}")

# c) Reporte descendiente
reporte_descendiente_modelo = sorted(inventario, key=lambda x: x['modelo'], reverse=True)
print("\nReporte descendiente por modelo:")
for auto in reporte_descendiente_modelo:
    print(f"Marca: {auto['marca']}, Modelo: {auto['modelo']}, Año: {auto['año']}, Precio: {auto['precio']}")

# d) Buscar automóviles por modelo
def buscar_modelo(modelo_buscado, inventario):
    resultados = [auto for auto in inventario if modelo_buscado.lower() in auto['modelo'].lower()]
    return resultados

modelo_buscado = input("\nIngrese el modelo que desea buscar: ")
resultado_busqueda = buscar_modelo(modelo_buscado, inventario)

print(f"\nResultados de búsqueda para el modelo {modelo_buscado}: ")
if resultado_busqueda:
    for auto in resultado_busqueda:
        print(f"Marca: {auto['marca']}, Modelo: {auto['modelo']}, Año: {auto['año']}, Precio: {auto['precio']}")
else:
    print(f"No se encontró resultados para tu auto modelo: {modelo_buscado}")

Reporte ascendente por modelo:
Marca: Honda, Modelo: Civic, Año: 2019, Precio: 220000
Marca: Toyota, Modelo: Corolla, Año: 2020, Precio: 200000
Marca: VW, Modelo: Jetta, Año: 2022, Precio: 240000
Marca: Chevrolet, Modelo: Malibu, Año: 2018, Precio: 180000
Marca: Ford, Modelo: Mustang, Año: 2021, Precio: 340000

Reporte descendiente por modelo:
Marca: Ford, Modelo: Mustang, Año: 2021, Precio: 340000
Marca: Chevrolet, Modelo: Malibu, Año: 2018, Precio: 180000
Marca: VW, Modelo: Jetta, Año: 2022, Precio: 240000
Marca: Toyota, Modelo: Corolla, Año: 2020, Precio: 200000
Marca: Honda, Modelo: Civic, Año: 2019, Precio: 220000

Ingrese el modelo que desea buscar:  CIVIC

Resultados de búsqueda para el modelo CIVIC:
Marca: Honda, Modelo: Civic, Año: 2019, Precio: 220000