# Actividad 6
## Ejemplo del uso de una API para procesamiento de datos

In [4]:
import requests
import pandas as pd

url = 'https://jsonplaceholder.typicode.com/posts'

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print(df.head())
else:
    print(f"Error al hacer la solicitud: {response.status_code}")

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

## Actividad 1

In [7]:
from flask import Flask, jsonify

app = Flask(__name__)

@app.route('/api/data', methods=['GET'])
def get_data():
    data = [
        {
            'nombre': 'Ju√°n',
            'edad': 33,
            'es_estudiante': False,
            'notas': [86, 90, 78]
        },
        {
            'nombre': 'Sandra',
            'edad': 23,
            'es_estudiante': True,
            'notas': [69, 99, 98]
        },
        {
            'nombre': 'Alicia',
            'edad': 43,
            'es_estudiante': False,
            'notas': [99, 90, 88]
        }
    ]
    return jsonify(data)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1

## Actividad 2

In [8]:
nums = [2, 1, 6, 5, 7]
suma = 0
for indice in nums:
    suma = suma + indice

print(f"El resultado es {suma}")

El resultado es 21

## Actividad 3

In [9]:
import pandas as pd
import numpy as np

e1 = pd.DataFrame(np.arange(9).reshape([3, 3]),
                  index = ["a", "b", "c"],
                  columns = ["I", "II", "III"])
print(e1)

   I  II  III
a  0   1    2
b  3   4    5
c  6   7    8

## Actividad 4

In [10]:
import pandas as pd
import numpy as np

e2 = pd.DataFrame(np.arange(12).reshape([4, 3]),
                  index = ["a", "b", "c", "d"],
                  columns = ["I", "II", "III"])

print(e2)

   I  II  III
a  0   1    2
b  3   4    5
c  6   7    8
d  9  10   11

In [11]:
pd.concat([e1, e2])

   I  II  III
a  0   1    2
b  3   4    5
c  6   7    8
a  0   1    2
b  3   4    5
c  6   7    8
d  9  10   11

## Actividad 5

In [18]:
import pandas as pd

serie1 = pd.Series(["La","es","y","bonita"])
serie2 = pd.Series(["casa","grande","muy","."])

frase = pd.concat([serie1, serie2], axis=1)

frase["frase_completa"] = frase[0] + " " + frase[1]
print(frase["frase_completa"])

0      La casa
1    es grande
2        y muy
3     bonita .
Name: frase_completa, dtype: object

In [19]:
import pandas as pd

serie1 = pd.Series(["Este","es","un","ejemplo"])
serie2 = pd.Series(["de","una","frase","concatenada"])

frase_larga = pd.concat([serie1, serie2], axis=0).reset_index(drop=True)

print(frase_larga)

0           Este
1             es
2             un
3        ejemplo
4             de
5            una
6          frase
7    concatenada
dtype: object